__pycache__/

# Ignore Word/Google docs
*.gdoc
*.docx
*.xlsx

*.pyc
*.pyo
*.pyd
.venv/
.env

# Ignore the Project_Documentation folder
Project_Documentation/*

# Ignore log files
logs/*

# Ignore notebook checkpoint saves
.ipynb_checkpoints/

# Ignore local_only files
local_only/*

# Ignore dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/dbt_modules/

.DS_Store
Thumbs.db

# Ignore google drive API files
GoogleDrive_API/*

# Ignore anything under venv
venv/*

